<div class="card">
  <h1>&#64;if</h1>

  @if(obs$|async; as value) {
  <div>I'm here - {{ value }}</div>
  } @else {
  <div>Wait for it...</div>
  }
</div>
<br /><br />
<div class="card">
  <h1>&#64;for</h1>
  <ul>
    @defer(on immediate) { @for (item of items; track item.id) {
    <app-title [appHover]="item.label" />
    } }
  </ul>
</div>
<br /><br />

<div class="card">
  <h1>&#64;switch</h1>

  Item: @switch (index) { @case (0) {
  <span>{{ items[0].label }}</span>
  } @case (1) {
  <span>{{ items[1].label }}</span>
  } @default{
  <span>Overflow</span>
  } }
  <div>
    <button (click)="index = (index + 1) % items.length">Next</button>
  </div>
</div>
<br /><br />

<div class="card">
  <h1>&#64;Defer</h1>
  <h4>On immediate</h4>
  @defer (on immediate) {
  <lazy-one />
  }

  <h4>On interaction(button)</h4>
  {{ message }}
  @defer (on interaction(button)) {
  <lazy-two />
  }
  <div><button #button>Click me</button></div>

  <br />
  <hr />
  <h3>On Hover</h3>
  {{ message }}
  @defer (on hover(button2)) {
  <lazy-three />
  }
  <div><button #button2>Hover me</button></div>

  <br />
  <hr />
  <h3>On Timer (5s)</h3>
  <div>
    {{ message }}
    @defer (on timer(5s)) { World }
  </div>

  <br />
  <hr />
  <h3>On Viewport</h3>
  <div #trigger>
    @defer (on viewport(trigger)) {
    <lazy-four />
    }
  </div>

  <br />
  <hr />
  <h3>Placeholder</h3>
  @defer (when false) {
  <button></button>
  } @placeholder (minimum 2s) { *** PLACEHOLDER *** }
</div>
